@import "variables";

.main-crear-cuenta {
    .titulo {
        width: 100%;
        margin: auto;

        h1 {
            padding-top: 40px;
            margin: 0 0 30px;
            text-align: center;
            font-size: 2rem;
            color: $color-2;
        }
    }

    .info-compra {
        width: 61ch;
        margin: auto;
        color: $color-5 !important;
        animation: typing 6s steps(61), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid $color-5;
        font-family: "poppins";
        font-size: 1rem;

        @keyframes typing {
            from {
                width: 0;
            }
        }

        @keyframes blink {
            50% {
                border-color: transparent;
            }
        }
    }

    form {
        width: 40%;
        margin: 50px auto;

        .dato {
            position: relative;

            input {
                width: 100%;
                padding: 10px 0;
                color: $color-5;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid $color-3;
                outline: none;
                background: transparent;

                &:focus~label,
                &:valid~label {
                    top: -20px;
                    color: $color-1;
                    font-size: 12px;
                }
            }

            label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                color: $color-3;
                pointer-events: none;
                transition: .7s;
            }
        }
    }

    .pie-registro {
        display: block;
        text-align: center;
        margin-top: 50px;

        .link {
            color: inherit;
            position: relative;
            text-decoration: none;

            &:hover {
                color: $color-3;

                &::before {
                    opacity: 1;
                    transform: translatex(-75%) rotateZ(-3deg);
                }

                &::after {
                    opacity: 1;
                    transform: translatex(45%) rotateZ(3deg);
                }
            }

            &::before {
                content: "Click";
                font-size: 0.9em;
                background: #000;
                color: #fff;
                line-height: 1em;
                padding: 0.2em 0.15em 0;
                border-radius: 0.2em;
                position: absolute;
                top: -1.5em;
                left: 50%;
                opacity: 0;
                transform: translate(-65%, 20%) rotateZ(-1deg);
                transition: 0.4s opacity cubic-bezier(0.33, 1, 0.68, 1), 0.4s transform cubic-bezier(0.33, 1, 0.68, 1);
            }

            &::after {
                content: "acá!";
                position: absolute;
                font-size: 0.9em;
                background: #000;
                color: #fff;
                line-height: 1em;
                padding: 0.2em 0.15em 0;
                border-radius: 0.2em;
                top: -1.5em;
                left: 50%;
                opacity: 0;
                transform: translate(45%, 20%) rotateZ(1deg);
                transition: 0.4s opacity cubic-bezier(0.33, 1, 0.68, 1), 0.4s transform cubic-bezier(0.33, 1, 0.68, 1);
            }
        }
    }
}