/* paleta de colores */

:root {
    --color_1: #e6decf;
    --color_2: #ba9c82;
    --color_3: #997b66;
    --color_4: #6c584c;
    --color_5: #241407;
}

/* fuentes */

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "monserrat";
}

@font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: "poppins";
}

/* banner slider */

.sliders-caja {
    width: 100%;
    margin: 0;
}

.sliders {
    overflow: hidden;
}

.sliders figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

.sliders figure img {
    width: 20%;
    float: left;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/* slide FELICES FIESTAS */

.descuento {
    font-family: 'Arvo';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.descuento h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--color_3);
}

.caja-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.125rem;
    position: relative;
    overflow: hidden;
    line-height: 4rem;
    color: var(--color_5);
}

.texto-slide {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
}

.texto-slide span {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: var(--color_2);
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -4rem;
    }

    50% {
        top: -8rem;
    }

    72.5% {
        top: -12.25rem;
    }
}

/* barra gris de información */

.info-caja {
    width: 100%;
    background-color: rgba(120, 120, 120, .3);
}

.info-triple {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.info-solo {
    text-align: center;
    width: 100%;
}

.info-solo i {
    display: block;
    margin: 20px;
    font-size: 3rem;
    color: #333;
}

.info-solo span {
    font-size: 18px;
}

/* categorías de muestra */

.producto-caja {
    width: 90%;
    margin: 50px auto 100px auto;
}

.producto-caja h1 {
    text-align: center;
    color: var(--color_5);
}

.producto-triple {
    width: 70%;
    margin: auto;
    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.producto-item {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, .7);
    transition: transform .5s;
}

.producto-item:hover {
    transform: scale(1.1);
}

.producto-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.producto-item span {
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    color: var(--color_4);
    background-color: var(--color_1);
}

/* reponsive */

@media screen and (max-width: 1200px) {

    .producto-item {
        width: 300px;
    }

    .producto-item img {
        width: 100%;
        height: 100%;
    }
    
    .producto-item {
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {
    
    .producto-caja h1 {
        font-size: 1.5rem;
    }
    
    .producto-item,
    .producto-item img{
        width: 250px;
    }

    .producto-item span {
        font-size: 1rem;
        padding: 10px;
    }
}

@media screen and (max-width: 1080px) {

    .producto-triple {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
    }
    
    .producto-item {
        margin: 30px;
        width: 350px;
    }

    .producto-item img {
        width: 100%;
        height: 100%;
    }
    
    .producto-item span {
        font-size: 1.5rem;
        padding: 15px;
        text-align: center;
    }

    .grid-item {
        width: 500px;
    }
}

@media screen and (max-width: 720px) {

    .descuento h1 {
        font-size: 2.125rem;
    }

    .caja-slide {
        height: 2.6rem;
        line-height: 2.125rem;
    }
    
    .texto-slide {
        animation: slide-mob 5s infinite;
    }

    .texto-slide span {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    
    @keyframes slide-mob {
        0% {
            top: 0;
        }

        25% {
            top: -2.125rem;
        }

        50% {
            top: -4.25rem;
        }

        72.5% {
            top: -6.375rem;
        }
    }

    .info-solo {
        width: 50%;
        padding: 0 5px;
    }

    .info-solo i {
        margin: 10px;
        font-size: 1rem;
    }
    
    .info-solo span {
        text-align: left;
        font-size: 10px;
    }

    .info-solo p {
        font-size: 10px;
    }
    
    .producto-caja {
        width: 100%;
    }
    
    .grid-item {
        width: 300px;
    }
}

@media screen and (max-width: 480px) {

    .grid-item {
        width: 250px;
    }

    .info-solo span {
        font-size: 7px;
    }

    .info-solo p {
        font-size: 5px;
    }

    .producto-caja h1 {
        font-size: 16px;
    }

    .producto-item {
        margin: 20px;
        width: 150px;
    }

    .producto-item img {
        width: 100%;
        height: 100%;
    }
    
    .producto-item span {
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {

}