/* paleta de colores */

:root {
    --color_1: #e6decf;
    --color_2: #ba9c82;
    --color_3: #997b66;
    --color_4: #6c584c;
    --color_5: #241407;
}

/* fuentes */

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "monserrat";
}

@font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: "poppins";
}

*::selection {
    background-color: rgba(108, 88, 76, 0.3);
}

/* <CROLLBAR */

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #d9d9d9;
    /* border-radius: 30px; */
}
::-webkit-scrollbar-thumb:hover{
    background: #8b8b8b;
}
::-webkit-scrollbar-track{
    background: inherit;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

body {
    margin: 0;
    font-family: "monserrat";
}

/* HEADER */

header {
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows:  repeat(1, 1fr);
    grid-row-gap: 50px;

    background-color: var(--color_2);
    border-bottom: 1px solid rgba(250, 250, 250, .7);
}

/* barra de búsqueda */

header .buscar {
    display: flex;
    justify-content: center;
    margin: auto;
}

.buscar input {
    width: 250px;
    padding: 10px;
    border: 1px solid #fff;
    border-right: none;
    background: #fff;
    border-radius: 5px 0 0 5px;
    font-family: inherit;
}

.buscar input:focus {
    outline: 0;
    color: var(--color_4);
}

.buscar input::placeholder {
    color: var(--color_3);
}

.buscar button {
    width: 40px;
    border: 0;
    padding: 10px 0;
    background: #fff;
    border: 1px solid #fff;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: var(--color_3);
    font-family: inherit;
}

.buscar button:hover {
    color: var(--color_4);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
}

/* banner */

header .banner {
    display: flex;
    justify-content: center;
}

.banner img {
    width: 600px;
    padding: 15px 0;
}

/* carrito */

header .carrito-cuenta {
    margin: auto;
    text-align: center;
}

.carrito {
    background-color: #fff;
    color: var(--color_3);
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid transparent;
}

.carrito:hover {
    border: 1px solid #ba9c82;
    color: var(--color_4);
}

/* cuenta */

.cuenta {
    display: flex;
    justify-content: space-around;
    padding: 8px 5px;
}

.cuenta a {
    color: #fff;
    font-size: .8rem;
    text-decoration: none;
    padding: 0 5px;
}

.cuenta span:hover {
    color: var(--color_4);
    transition: .7s;
}

/* NAV */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color_2);
    border: solid 1px #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);

    position: sticky;
    top: 0;
    z-index: 9;
}

.menu {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-around;
}

.menu li {
    float: left;
    background-color: var(--color_2);
}

.menu li:hover {
    background-color: rgba(108, 88, 76, .9);
    transition: .7s;
}

.menu li a {
    display: block;
    padding: 5px 33px;
    text-decoration: none;
    line-height: 35px;
    color: #fff;
}

.submenu {
    width: 225px;
    position: absolute;
    display: none;
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

.submenu li {
    float: left;
    background-color: rgba(186, 156, 130, .9);
}

.submenu li a {
    font-size: 14px;
    padding: 0 10px;
}

.menu li:hover .submenu {
    display: block;
    border: solid 1px #fff;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.submenu li:last-child {
    border-radius: 0 0 6px 6px;
}

/* FOOTER */

footer {
    padding: 10px 0 0 0;
    background-color: var(--color_1);
    width: 100%;
}

/* títulos centrados */

.footer-container-1 {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows:  repeat(1, 1fr);
}

.footer-container-1 div{
    margin: 0 auto;
}

.footer-container-1 div span {
    color: var(--color_3);
}

/* cajas centradas (contenido) */

.footer-container-2 {
    padding: 0 0 10px 0;

    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows:  repeat(1, 1fr);
}

/* redes sociales */

.footer-social {
    margin: -10px auto 0 auto;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    margin: 0 0 10px 0;
    font-size: 15px;
}

.footer-social ul li a {
    color: var(--color_4);
    text-decoration: none;
}

.footer-social ul li a i {
    padding-right: 10px;
}

.footer-social ul li a:hover {
    color: var(--color_5);
    text-decoration: underline;
    transition: .7s;
}

/* medios de pago */

.footer-pagos {
    margin: 10px auto;

    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    grid-gap: 10px;
}

.footer-pagos img {
    width: 50px;
}

/* contactanos */

.footer-contactanos {
    margin: -10px auto 0 auto;
}

.footer-contactanos ul {
    list-style: none;
    padding: 0;
}

.footer-contactanos ul li {
    margin: 0 0 10px 0;
    font-size: 15px;
}

.footer-contactanos ul li a {
    color: var(--color_4);
    text-decoration: none;
}

.footer-contactanos ul li a i {
    padding-right: 10px;
}

.footer-contactanos ul li a:hover {
    color: var(--color_5);
    text-decoration: underline;
    transition: .7s;
}

.copy {
    display: block;
    background: #f7f7f7;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}

.asdasd {
    width: 80%;
    margin: auto;
    text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 1080px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        width: 90%;
    }

    .menu li {
        line-height: 0;
        padding: 0;
        font-size: 13px;
        padding: 0;
    }

    main div {
        margin: auto;
        width: 80%;
    }

}

@media screen and (max-width: 720px) {
    
    .buscar input {
        width: 150px;
        padding: 5px;
    }
    
    .buscar button {
        width: 20px;
        padding: 0;
    }

    .banner img {
        width: 80%;
    }

    .carrito,
    .cuenta {
        padding: 5px 0;
        font-size: 12px;
    }

    nav {
        position: relative;
    }

    .menu {
        width: 80%;
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        grid-template-rows:  repeat(1, 1fr);
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        line-height: 0;
        padding: 0;
        font-size: 12px;
        padding: 0;
    }

    .submenu li a {
        font-size: 10px;
        padding: 0;
        font-weight: 0;
    }

    .footer-container-1 div span{
        font-size: 10px;
    }

    .footer-container-2 ul li a {
        font-size: 10px;
    }

    .footer-pagos img {
        width: 30px;
    }

    .copy {
        font-size: 10px;
    }

    main div p {
        text-align: justify;
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    
    .buscar input {
        font-size: 8px;
    }
    
    .buscar button {
        font-size: 8px;
    }

    .menu {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: none;
        align-items: none;
    }

    .menu li,
    .submenu li {
        width: 100%;
        font-size: 10px;
        padding: 0;
        font-weight: 0;
        line-height: 0;
    }

    .menu li a,
    .submenu li a {
        font-size: 10px;
        padding: 0;
        font-weight: 0;
    }

    .footer-container-1 div span{
        font-size: 8px;
    }

    .footer-container-2 ul li a {
        font-size: 8px;
    }

    .footer-social ul li {
        margin: 0 0 2px 0;
        font-size: 15px;
    }

    .footer-social ul li a i {
        padding-right: 4px;
    }

    .footer-contactanos ul li {
        margin: 0 0 2px 0;
        font-size: 15px;
    }

    .footer-contactanos ul li a i {
        padding-right: 4px;
    }

    .footer-pagos img {
        width: 20px;
    }

    .copy {
        font-size: 8px;
    }

}

@media screen and (max-width: 320px) {

    .buscar input {
        width: 80px;
    }

    .buscar input {
        font-size: 5px;
    }
    
    .buscar button {
        font-size: 5px;
    }

    .carrito-cuenta {
        width: 200px;
        padding: 0;
        margin: 0;
    }
    
    .carrito-cuenta span {
        font-size: 8px;
        padding: 0;
        margin: 0;
    }

    .cuenta a {
        font-size: 8px;
    }

    .menu {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .menu li,
    .submenu li {
        width: 100%;
        font-size: 10px;
        padding: 0;
        font-weight: 0;
        line-height: 0;
    }

    .menu li a,
    .submenu li a {
        font-size: 10px;
        padding: 0;
        font-weight: 0;
    }

    .footer-container-1 div span{
        font-size: 8px;
    }

    .footer-container-2 ul li a {
        font-size: 8px;
    }

    .footer-social ul li {
        margin: 0 0 2px 0;
        font-size: 8px;
    }

    .footer-social ul li a i {
        padding-right: 4px;
    }

    .footer-contactanos ul li {
        margin: 0 0 2px 0;
        font-size: 8px;
    }

    .footer-contactanos ul li a i {
        padding-right: 2px;
    }

    .footer-pagos img {
        width: 8px;
    }

    .copy {
        font-size: 8px;
    }
}