.caja-boton {
	width: max-content;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.caja-boton button {
	padding: 16px 32px 13px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #534e4a;
	color: #534e4a;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: color 300ms ease, transform 300ms ease;

	&:hover,
	&:focus {
		color: #fff;
		cursor: pointer;
	}

	&:hover + .item-boton,
	&:focus + .item-boton {
		transform: translateY(calc(-100% + 2px));
	}

	&:active {
		transform: scale(0.8);
	}

	&:active + .item-boton {
		transform: translateY(calc(-100% + 2px)) scale(0.8);
	}
}

.item-boton {
	background-color: #534e4a;
	height: calc(100% + 2px);
	width: 100%;
	position: absolute;
	bottom: calc(-100% - 2px);
	left: 0;
	z-index: -1;
	transition: transform 300ms ease;
}