@import "variables";

.main-contacto {
    h1 {
        padding-top: 40px;
        margin: 0 0 30px;
        text-align: center;
        font-size: 2rem;
        color: $color-2;
    }

    .container-contacto {
        width: 95%;
        margin: 50px auto 90px auto;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-around;
        background-color: rgba(153, 123, 102, .150);
        box-shadow: 1px 10px 15px rgba(0, 0, 0, .2);
        border-radius: 10px;

        .datos-contacto {
            margin: 5px;
            padding: 10px;

            h2 {
                display: flex;
                justify-content: center;
                color: $color-4;
                cursor: default;
            }

            ul {
                margin-top: 35px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 1fr);
                grid-gap: 15px;

                li {
                    list-style: none;
                    transition: transform .5s;

                    a {
                        color: #222;
                        text-decoration: none;
                        font-family: "monserrat-regular";
                        font-size: 1rem;

                        &:hover {
                            text-decoration: underline;
                        }

                        i {
                            padding-right: 5px;
                        }
                    }
                }
            }
        }

        .formulario-contacto {
            margin: 5px;
            padding: 10px;

            h2 {
                display: flex;
                justify-content: center;
                color: $color-4;
                cursor: default;
            }

            form {
                max-width: 600px;
                text-align: center;
                margin: auto;

                .half {
                    float: left;
                    width: 48%;
                    margin-bottom: 1em;
                }

                .right {
                    width: 50%;
                }

                .left {
                    margin-right: 2%;
                }

                input,
                textarea {
                    border: 1px solid $color-4;
                    outline: 0;
                    padding: 1em;
                    border-radius: 8px;
                    display: block;
                    width: 100%;
                    margin-top: 1em;
                    font-family: "monserrat-regular";
                    box-shadow: 0 1px 1px rgba(black, 0.1);
                    box-sizing: border-box;
                    resize: none;

                    &:focus {
                        box-shadow: 0 0px 2px rgba($color-3, 1);
                    }

                    &::placeholder {
                        font-family: "monserrat-bold";
                    }
                }

                textarea {
                    height: 160px;
                }

                button {
                    width: 100%;
                    margin: 10px auto;
                    padding: 16px 32px 13px;
                    background-color: #fff;
                    border: 1px solid $color-4;
                    border-radius: 5px;
                    color: $color-4;
                    font-family: "monserrat-bold";
                    text-align: center;
                    font-weight: 700;
                    transition: .2s;

                    &:hover {
                        background-color: $color-4;
                        border: 1px solid #fff;
                        color: #fff;
                        cursor: pointer;
                    }

                    &:active {
                        background-color: $color-1;
                        color: $color-5;
                        border: 1px solid $color-5;
                    }
                }
            }
        }
    }

    iframe {
        display: flex;
        width: 95%;
        height: 500px;
        margin: 0 auto 100px auto;
        box-shadow: 1px 10px 15px rgba(0, 0, 0, .2);
    }
}