@import "variables";

/* ------------------ 320 ------------------ */
/* ------------------ 320 ------------------ */
/* ------------------ 320 ------------------ */

@media screen and (max-width: 320px) {

    /**************** STATIC ****************/

    header {
        .buscar {
            input {
                width: 80px;
            }

            button {
                font-size: 5px;
            }
        }

        .carrito-cuenta {
            width: 200px;
            padding: 0;
            margin: 0 auto;

            span {
                font-size: 8px;
                padding: 0;
                margin: 0;
            }

            .cuenta {
                a {
                    font-size: 8px;
                }
            }
        }
    }

    nav {
        .menu {
            width: 80%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;

            li {
                width: 100%;
                font-size: 10px;
                padding: 0;
                font-weight: 0;
                line-height: 0;

                a {
                    font-size: 10px;
                    padding: 0;
                    font-weight: 0;
                }

                .submenu {

                    li {
                        width: 100%;
                        font-size: 10px;
                        padding: 0;
                        font-weight: 0;
                        line-height: 0;

                        a {
                            font-size: 10px;
                            padding: 0;
                            font-weight: 0;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-container-1 {
            div {
                span {
                    font-size: 8px;
                }
            }
        }

        .footer-container-2 {
            ul {
                li {
                    a {
                        font-size: 8px;
                    }
                }
            }

            .footer-social {
                ul {
                    li {
                        margin: 0 0 2px 0;
                        font-size: 8px;

                        a {
                            i {
                                padding-right: 4px;
                            }
                        }
                    }
                }
            }

            .footer-contactanos {
                ul {
                    li {
                        margin: 0 0 2px 0;
                        font-size: 8px;

                        a {
                            i {
                                padding-right: 2px;
                            }
                        }
                    }
                }
            }

            .footer-pagos {
                img {
                    width: 8px;
                }
            }
        }

        .copyright {
            font-size: 8px;
        }
    }
}

/* ------------------ 480 ------------------ */
/* ------------------ 480 ------------------ */
/* ------------------ 480 ------------------ */

@media screen and (max-width: 480px) {

    /**************** CONTACTO ****************/
    
    .main-contacto {
        .container-contacto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    
            .datos-contacto {
                margin: auto;
    
                h2 {
                    font-size: 1.5rem;
                }
    
                ul {
                    display: flex;
                    flex-direction: column;
    
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
    
            .formulario-contacto {
                h1 {
                    font-size: 1.5rem;
                }

                button {
                    padding: 12px;
                }
            }
        }
    }

    /**************** QUIENES SOMOS ****************/

    .main-quienes-somos {
        .title-container {
            h1 {
                font-size: 1.5rem;
            }

            img {
                width: 40%;
            }
        }

        .description-container {
            h2 {
                font-size: 18px;
            }
        }

        .parrafo-container {
            font-size: .8rem;
        }
    }

    /**************** CUENTA ****************/
    
    .main-cuenta {
        .titulo {
            h1 {
                font-size: 1.5rem;
            }
        }
        .info-compra {
            font-size: .7rem;
        }
        form {
            .dato {
                input, label {
                    font-size: .7rem;

                    &:focus~label,
                    &:valid~label {
                        font-size: .5rem;
                    }
                }
            }
            .boton-cuenta {
                button {
                    font-size: .8rem;
                }
            }
        }
        .pie-registro {
            font-size: .8rem;
        }
    }

    /**************** PRODUCTOS ****************/
    
    .main-productos {
        h1 {
            font-size: 1.5rem;
        }

        .container-productos {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .filtros {
                display: flex;
                justify-content: space-around;
                font-size: .7rem;
                
                .cat-li, .filt-li {
                    margin: auto;
                    display: block;
                    padding: 0;
                }
            }

            .stock {
                grid-template-columns: repeat(2, 1fr);

                .producto {
                    width: 150px;

                    .botones {
                        flex-direction: column;
                        padding: 5px 0;

                        a {
                            margin: 5px auto;
                            padding: 5px 0;
                        }

                        .agregar,
                        .ver {
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }

    /**************** DETALLE PRODUCTO ****************/
    
    .main-detalle-producto {
        width: 90%;
        flex-direction: column;

        .producto-vista-previa {
            margin: auto;

            label {
                display: inline-block;
            }
        }
        .producto-carrusel {
            width: 300px;
            height: 200px;
            margin: 40px auto 60px auto;

            ul {
                height: 200px;

                li {
                    .slide-img {
                        img {
                            width: 300px;
                            height: 200px;
                        }
                    }
                }
            }
        }

        .producto-datos {
            form {
                button {
                    padding: 0;
                    font-size: 8px;
                }
            }
        }
    }
    .descripcion-producto {
        margin: 50px auto;
    }

    /**************** INDEX ****************/

    .main-index {
        .descuento {
            h1 {
                font-size: 2.125rem;

                .caja-slide {
                    height: 2.6rem;
                    line-height: 2.125rem;

                    .texto-slide {
                        animation: slide-mob 5s infinite;

                        span {
                            font-size: 1rem;
                            letter-spacing: 0.1rem;
                        }
                    }
                }

                @keyframes slide-mob {
                    0% {
                        top: 0;
                    }

                    25% {
                        top: -2.125rem;
                    }

                    50% {
                        top: -4.25rem;
                    }

                    72.5% {
                        top: -6.375rem;
                    }
                }
            }
        }

        .info-caja {
            .info-solo {
                width: 50%;
                padding: 0 5px;

                i {
                    margin: 5px;
                    font-size: .5rem;
                }

                span {
                    text-align: left;
                    font-size: .5rem;
                }
            }
        }

        .producto-caja {
            h2 {
                font-size: 1.5rem;
            }

            .producto-triple {
                display: flex;
                flex-direction: column;

                .producto-item {
                    margin: auto;
                }
            }
        }
    }

    /**************** STATIC ****************/

    header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        
        .buscar {
            margin: auto;
            margin-top: 5px;
        }
        .banner {
            img {
                width: 100%;
            }
        }
    }

    nav {
        width: 100%;
        position: relative;
        
        .menu {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
                width: 100%;
                padding: 0;
                font-weight: 0;
                line-height: 0;
                
                a {
                    font-size: .9rem;
                    padding: 0;
                    font-weight: 0;
                }
                
                .submenu {
                    width: 80%;
                    
                    li {
                        a {
                            font-size: .9rem;
                            padding: 0;
                            font-weight: 0;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-container-1 {
            div {
                span {
                    font-size: 8px;
                }
            }
        }

        .footer-container-2 {
            ul {
                li {
                    a {
                        font-size: 8px;
                    }
                }
            }

            .footer-social {
                ul {
                    li {
                        margin: 0 0 2px 0;
                        font-size: 5px;

                        a {
                            i {
                                padding-right: 4px;
                            }
                        }
                    }
                }
            }

            .footer-pagos {
                grid-gap: 5px;

                img {
                    width: 15px;
                }
            }

            .footer-contactanos {
                ul {
                    li {
                        margin: 0 0 2px 0;
                        font-size: 5px;
                    }

                    a {
                        i {
                            padding-right: 4px;
                        }
                    }
                }
            }
        }

        .copyright {
            font-size: 8px;
        }
    }
}