$color-1: #e6decf;
$color-2: #ba9c82;
$color-3: #997b66;
$color-4: #6c584c;
$color-5: #241407;

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "monserrat";
}

@font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: "poppins";
}