$color-1: #e6decf;
$color-2: #ba9c82;
$color-3: #997b66;
$color-4: #6c584c;
$color-5: #241407;

@font-face {
    src: url("../fonts/Montserrat-Bold.ttf");
    font-family: "monserrat-bold";
}

@font-face {
    src: url("../fonts/Montserrat-Light.ttf");
    font-family: "monserrat-light";
}

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "monserrat-regular";
}

@font-face {
    src: url("../fonts/Poppins-Bold.ttf");
    font-family: "poppins-bold";
}

@font-face {
    src: url("../fonts/Poppins-Light.ttf");
    font-family: "poppins-light";
}

@font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: "poppins-regular";
}