@import "variables";
@import "static";
@import "responsive";
@import "index";
@import "crear-cuenta";
@import "iniciar-sesion";
@import "productos";
@import "detalle-producto";
@import "contacto";
@import "quienes-somos";
@import "submit";

.asdasd {
    width: 80%;
    margin: auto;
    text-align: center;
}